.container {
    margin:0px;
    padding:0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.etch-a-sketch-reset {
    box-sizing: border-box;
    padding: 10px;
    width: 504px;
    border: solid;
    border-radius: 5px;
}

.etch-a-sketch-container {
    background-color: black;
    border: solid;
    width:500px;
    height:500px;
    display: flex;
    flex-wrap: wrap;
}

.etch-a-sketch-unit-box {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background-color: rgba(255,255,255,1);
    font-size: 0px;
}
